@import "flex";
@import "bootstrap/variables";
@import "variables";
@import "bootstrap/bootstrap";
@import "bootswatch";

img.avatar-tiny {
    width: 30px;
    height: 30px;
}

div.login-panel {
    width: 500px;
}

div.turbo {
    height: 100vh;
}

nav.navbar {
    margin: 0px;
}

div.app-tabs {
    flex: 0 0 12em;
    margin: 0px;
    ul {
        list-style-type: none;
        padding: 0px;
        margin: 0px;

        li.tab {
            height: 40px;
            h5 { margin: 10px; }
            &.current {
                background-color: @gray-light;
            }
        }
    }
}

.main-pane, .secondary-pane {
    margin: 0px;
    padding: 0.5em;
    flex: 1;
}

div.channel {
    display: flex;
    flew-flow: row nowrap;
    div.channel-main {
        display: flex;
        flex: 1;
        flex-flow: column nowrap;

        div.channel-top {
        }

        div.channel-chat {
            flex: 1;
        }

        div.channel-bottom {
        }
    }
    div.channel-users {
        flex: 0 0 12em;
    }
}
